{% extends "base.html" %}
{% block title %}Social{% endblock %}
{% block content %}
  <div class="question-list">
    <h2>{{ inquiries.count }} Preguntas</h2>
    {% for inq in inquiries %}
      <div class="question-card">
        <h3>
          <a href="{% url 'inquiry_detail' inq.pk %}">{{ inq.title }}</a>
        </h3>
        <p>{{ inq.description }}</p>
        <div class="question-footer">
          <span>👤 {{ inq.author.username }}</span>
          <span class="votes">👍 {{ inq.count_positive }}</span>
          <span class="negative-votes">👎 {{ inq.count_negative }}</span>
        </div>
      </div>
    {% empty %}
      <p>No hay preguntas.</p>
    {% endfor %}
  </div>
{% endblock %}
